/* ---- Test Space Only Start ---- */

section {
  margin: 40px auto;
}

.group {
  margin-bottom: 40px;
}

.section-header {
  color: #43CDB6;
}

.fixed-width-group {
  display: inline-block;
  max-width: 320px;
  width: 100%;
}

.fixed-width-group-sm {
  display: inline-block;
  max-width: 257px;
  width: 100%;
}

/* ---- Test Space Only End ---- */
