/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
  font-family: DirectiveZero;
  src: url(../fonts/DirectiveZeroWid.ttf);
}
@font-face {
  font-family: ExtremeHazard;
  src: url(../fonts/ExtremeHazard.ttf);
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ---- General Styling Start ---- */

body {
  background: rgb(28, 52, 68);
  text-align: center;
  font-family: 'DirectiveZero', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #C5D7D9;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

h1 {
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  text-transform: uppercase;
}
h2 {
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 8px;
  font-weight: 100;
  line-height: 16px;
  text-transform: uppercase;
}

input:focus {
  outline: none;
}

/* ---- General Styling End ---- */

/* ---- Text Start --- */

.structs-text-tiny {
  font-family: 'DirectiveZero', sans-serif;
  font-size: 8px;
  line-height: 12px;
}

.structs-text-warning {
  color: #F3C878;
}

/* ---- Text End ---- */

/* ---- Checkbox, Radio Start ---- */

.structs-checkbox-container,
.structs-radio-container {
  position: relative;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

.structs-checkbox,
.structs-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  z-index: 1;
  opacity: 0;
}

.structs-checkbox-display,
.structs-radio-display {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 40px;
  width: 40px;
  z-index: 0;
}

.structs-checkbox-container::after,
.structs-radio-container::after {
  content: "";
  display: inline-block;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}

.structs-checkbox-container .structs-checkbox-display {
  background-image: url("/img/checkbox_false.png");
}
.structs-radio-container .structs-radio-display {
  background-image: url("/img/radio_false.png");
}

.structs-checkbox:checked ~ .structs-checkbox-display {
  background-image: url("/img/checkbox_true.png");
}
.structs-radio:checked ~ .structs-radio-display {
  background-image: url("/img/radio_true.png");
}

.structs-checkbox:disabled ~ .structs-checkbox-display{
  background-image: url("/img/checkbox_disabled_false.png");
}
.structs-radio:disabled ~ .structs-radio-display{
  background-image: url("/img/radio_disabled_false.png");
}

.structs-checkbox:disabled:checked ~ .structs-checkbox-display{
  background-image: url("/img/checkbox_disabled_true.png");
}
.structs-radio:disabled:checked ~ .structs-radio-display{
  background-image: url("/img/radio_disabled_true.png");
}

.structs-checkbox-container label,
.structs-radio-container label {
  display: inline-block;
  position: relative;
  margin-left: 48px;
  vertical-align: middle;
}

.structs-checkbox:disabled ~ label,
.structs-radio:disabled ~ label {
  color: #7394A5;
}

/* ---- Checkbox, Radio End ---- */


/* ---- Select Start ---- */

select {
  background-clip: padding-box;
  background: #212833 url("/img/caret-down-accent-secondary.png") no-repeat 10px center;
  background-clip: padding-box;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-image: url(/img/accent-secondary-border-image.png) 2 / 2px;
  border-radius: 0;
  color: #C5D7D9;
  font-size: 16px;
  height: 36px;
  padding: 0 10px 0 30px;
  -webkit-appearance: none;
}

/* ---- Select End ---- */

/* ---- Input Text Start ---- */

.structs-block-label {
  display: block;
  width: 100%;
}

.structs-block-label:focus-within {
  color: #C2EFDD;
}

.structs-block-label-text {
  display: block;
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 8px;
  line-height: 16px;
  text-transform: uppercase;
}

.structs-input-text-group {
  display: block;
  text-align: left;
}

.structs-input-text-flex-container {
  display: flex;
  align-items: center;
}

.structs-input-text-focus-icon {
  box-sizing: border-box;
  color: #C2EFDD;
  display: none;
  flex: 0 auto;
  height: 40px;
  padding: 8px;
}
.structs-block-label:focus-within .structs-input-text-focus-icon {
  display: inline-block;
}

.structs-input-text {
  background: transparent;
  border: 0 none;
  border-bottom: 2px solid #94A4E4;
  box-sizing: border-box;
  color: #C5D7D9;
  display: inline-block;
  flex: auto;
  font-family: 'DirectiveZero', sans-serif;
  font-size: 16px;
  height: 40px;
  width: 100%;
}
.structs-input-text:disabled {
  border-bottom: 2px solid #7394A5;
}
.structs-input-text:focus {
  border-bottom: 2px solid #C2EFDD;
}
.structs-input-text::placeholder {
  color: #A7C0C6;
}
.structs-input-text:disabled::placeholder {
  color: #7394A5;
}

.structs-input-warning-container {
  display: none;
  margin-top: 8px;
}

.structs-input-warning-container.show {
  display: block;
}

/* ---- Input Text End ---- */

/* ---- Test Space Only Start ---- */

section {
  margin: 40px auto;
}

.group {
  margin-bottom: 40px;
}

.section-header {
  color: #43CDB6;
}

.structs-input-text-group {
  display: inline-block;
  width: 320px;
}

/* ---- Test Space Only End ---- */
