/* ---- Test Space Only Start ---- */

section {
  margin: 40px auto;
}

.group {
  margin-bottom: 40px;
}

.section-header {
  color: #43CDB6;
}

.sub-section-header {
  margin: 40px auto 20px;
}

.fixed-height-group {
  height: 360px;
}

.fixed-width-group-xl {
  display: inline-block;
  max-width: 620px;
  width: 100%;
}

.fixed-width-group-lg {
  display: inline-block;
  max-width: 409px;
  width: 100%;
}

.fixed-width-group {
  display: inline-block;
  max-width: 320px;
  width: 100%;
}

.fixed-width-group-sm {
  display: inline-block;
  max-width: 257px;
  width: 100%;
}

.sui-screen-portrait-image.skull-head {
  background-image: url("/img/mock/mock-droid-168.png");
}

.grid-container {
  display: inline-flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  margin: var(--spacing-xl) 0;
}
.grid-row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
}
.grid-col {
  flex-grow: 1;
  align-self: stretch;
}

/* ---- Test Space Only End ---- */
