/** ---- Structs UI (SUI) ---- **/

@font-face {
  font-family: DirectiveZero;
  src: url(../fonts/DirectiveZeroWid.ttf);
}
@font-face {
  font-family: ExtremeHazard;
  src: url(../fonts/ExtremeHazard.ttf);
}

/* ---- Variables Start ---- */

:root {

  /* -- Colors Start -- */

  --accent-accent-primary: #43CDB6;
  --accent-accent-primary-active: #C2EFDD;
  --accent-accent-secondary: #94A4E4;
  --accent-accent-secondary-active: #BBCAEF;
  --accent-accent-destructive: #EE7D69;
  --accent-accent-destructive-active: #F4A990;
  --accent-accent-disabled: #7394A5;
  --surface-player-surface-player-body: #133546;
  --surface-surface-default: #222034;
  --surface-surface-panel: #5D7E90;
  --surface-surface-panel-medium: #4C6475;
  --text-text-body: #C5D7D9;
  --text-text-hint: #A7C0C6;
  --text-text-warning: #F3C878;

  /* -- Colors End -- */

  /* -- Dimensions Start -- */

  --form-input-height-total: 40px;
  --from-input-height-content: 36px;

  /* -- Dimensions End -- */

  /* -- Spacing Start -- */

  --spacing-spacing-xs: 2px;
  --spacing-spacing-s: 4px;
  --spacing-spacing-md: 8px;
  --spacing-spacing-lg: 12px;
  --spacing-spacing-xl: 16px;
  --spacing-spacing-xxxl: 32px;

  /* -- Spacing End -- */
}

/* ---- Variables End ----*/

/* ---- General Styling Start ---- */

body {
  background: var(--surface-player-surface-player-body);
  text-align: center;
  font-family: 'DirectiveZero', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-text-body);
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

input:focus {
  outline: none;
}

/* ---- General Styling End ---- */

/* ---- Text Start --- */

h1 {
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

h2 {
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.sui-text-tiny {
  font-family: 'DirectiveZero', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.sui-text-ticker {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.sui-accent-pri {
  color: var(--accent-accent-primary);
}
.sui-accent-pri-active {
  color: var(--accent-accent-primary-active);
}
.sui-accent-sec {
  color: var(--accent-accent-secondary);
}
.sui-accent-sec-active {
  color: var(--accent-accent-secondary-active);
}
.sui-accent-des {
  color: var(--accent-accent-destructive);
}
.sui-accent-des-active {
  color: var(--accent-accent-destructive-active);
}
.sui-accent-disabled {
  color: var(--accent-accent-disabled);
}
.sui-text-warning {
  color: var(--text-text-warning);
}

/* ---- Text End ---- */

/* ---- Screen Button Start ---- */

button.sui-screen-btn,
a.sui-screen-btn,
a.sui-screen-btn:link,
a.sui-screen-btn:visited {
  display: inline-block;
  background: var(--surface-surface-default);
  background-clip: padding-box;
  border: 0 none;
  border-radius: 0;
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 8px;
  height: var(--from-input-height-content);
  line-height: 16px;
  margin: 2px;
  padding: 0 var(--spacing-spacing-lg);
  text-decoration: none;
  text-transform: uppercase;
}

a.sui-screen-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}

.sui-screen-btn.sui-accent-pri {
  box-shadow: 0 2px 0 0 var(--accent-accent-primary), 0 -2px 0 0 var(--accent-accent-primary), 2px 0 0 0 var(--accent-accent-primary), -2px 0 0 0 var(--accent-accent-primary);
}

.sui-screen-btn:hover.sui-accent-pri {
  color: var(--accent-accent-primary-active);
  box-shadow: 0 2px 0 0 var(--accent-accent-primary-active), 0 -2px 0 0 var(--accent-accent-primary-active), 2px 0 0 0 var(--accent-accent-primary-active), -2px 0 0 0 var(--accent-accent-primary-active);
}

.sui-screen-btn.sui-accent-sec {
  box-shadow: 0 2px 0 0 var(--accent-accent-secondary), 0 -2px 0 0 var(--accent-accent-secondary), 2px 0 0 0 var(--accent-accent-secondary), -2px 0 0 0 var(--accent-accent-secondary);
}

.sui-screen-btn:hover.sui-accent-sec {
  color: var(--accent-accent-secondary-active);
  box-shadow: 0 2px 0 0 var(--accent-accent-secondary-active), 0 -2px 0 0 var(--accent-accent-secondary-active), 2px 0 0 0 var(--accent-accent-secondary-active), -2px 0 0 0 var(--accent-accent-secondary-active);
}

.sui-screen-btn.sui-accent-des {
  box-shadow: 0 2px 0 0 var(--accent-accent-destructive), 0 -2px 0 0 var(--accent-accent-destructive), 2px 0 0 0 var(--accent-accent-destructive), -2px 0 0 0 var(--accent-accent-destructive);
}

.sui-screen-btn:hover.sui-accent-des {
  color: var(--accent-accent-destructive-active);
  box-shadow: 0 2px 0 0 var(--accent-accent-destructive-active), 0 -2px 0 0 var(--accent-accent-destructive-active), 2px 0 0 0 var(--accent-accent-destructive-active), -2px 0 0 0 var(--accent-accent-destructive-active);
}

.sui-screen-btn.sui-accent-disabled {
  box-shadow: 0 2px 0 0 var(--accent-accent-disabled), 0 -2px 0 0 var(--accent-accent-disabled), 2px 0 0 0 var(--accent-accent-disabled), -2px 0 0 0 var(--accent-accent-disabled);
}

.sui-screen-btn-flex-wrapper {
  display: flex;
  column-gap: var(--spacing-spacing-md);
  justify-items: center;
}

.sui-screen-btn-flex-wrapper > .sui-screen-btn {
  flex-grow: 1;
}

/* ---- Screen Button End ---- */

/* ---- Panel Start ---- */

.panel-wrapper-fit-content {
  display: inline-block;
}
.panel {
  border-style: solid;
  border-width: 0 4px 0 4px;
  border-color: transparent;
  border-image: url("/img/panel/panel-edge-left-right-default.png") 0 6 0 6 / 0 4px 0 4px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}

.panel-chunk {
  background: var(--surface-surface-panel);
  background-clip: padding-box;
  border-style: solid;
  border-width: 6px 0 8px 0;
  border-color: transparent;
  border-image: url("/img/panel/panel-edge-top-bottom-default.png") 6 0 8 0 / 6px 0 8px 0;
  box-sizing: border-box;
}

.panel-connector {
  background-clip: padding-box;
  border-style: solid;
  border-width: 4px 2px 8px 4px;
  border-color: transparent;
  border-image: url("/img/panel/panel-connector-default.png") 6 0 8 0 fill / 6px 0 8px 0;
  box-sizing: border-box;
  width: 2px;
}

.panel.panel-style-medium {
  border-image: url("/img/panel/panel-edge-left-right-medium.png") 0 6 0 6 / 0 4px 0 4px;
}

.panel-chunk.panel-style-medium {
  background: var(--surface-surface-panel-medium);
  border-image: url("/img/panel/panel-edge-top-bottom-medium.png") 6 0 8 0 / 6px 0 8px 0;
}

.panel-connector.panel-style-medium {
  border-image: url("/img/panel/panel-connector-medium.png") 6 0 8 0 fill / 6px 0 8px 0;
}

.panel.panel-style-medium-to-default {
  border-image: url("/img/panel/panel-edge-left-right-medium-default.png") 0 6 0 6 / 0 4px 0 4px;
}
.panel-connector.panel-style-medium-to-default {
  border-image: url("/img/panel/panel-connector-medium-default.png") 6 0 8 0 fill / 6px 0 8px 0;
}

/* ---- Panel End ---- */

/* ---- Checkbox, Radio Start ---- */

.sui-checkbox-container,
.sui-radio-container {
  position: relative;
  display: inline-block;
  height: var(--form-input-height-total);
  vertical-align: middle;
}

.sui-checkbox,
.sui-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--form-input-height-total);
  width: var(--form-input-height-total);
  z-index: 1;
  opacity: 0;
}

.sui-checkbox-display,
.sui-radio-display {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: var(--form-input-height-total);
  width: var(--form-input-height-total);
  z-index: 0;
}

.sui-checkbox-container::after,
.sui-radio-container::after {
  content: "";
  display: inline-block;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}

.sui-checkbox-container .sui-checkbox-display {
  background-image: url("/img/form/checkbox_false.png");
}
.sui-radio-container .sui-radio-display {
  background-image: url("/img/form/radio_false.png");
}

.sui-checkbox:checked ~ .sui-checkbox-display {
  background-image: url("/img/form/checkbox_true.png");
}
.sui-radio:checked ~ .sui-radio-display {
  background-image: url("/img/form/radio_true.png");
}

.sui-checkbox:disabled ~ .sui-checkbox-display{
  background-image: url("/img/form/checkbox_disabled_false.png");
}
.sui-radio:disabled ~ .sui-radio-display{
  background-image: url("/img/form/radio_disabled_false.png");
}

.sui-checkbox:disabled:checked ~ .sui-checkbox-display{
  background-image: url("/img/form/checkbox_disabled_true.png");
}
.sui-radio:disabled:checked ~ .sui-radio-display{
  background-image: url("/img/form/radio_disabled_true.png");
}

.sui-checkbox-container label,
.sui-radio-container label {
  display: inline-block;
  position: relative;
  margin-left: 48px;
  vertical-align: middle;
}

.sui-checkbox:disabled ~ label,
.sui-radio:disabled ~ label {
  color: var(--accent-accent-disabled);
}

/* ---- Checkbox, Radio End ---- */


/* ---- Select Start ---- */

select {
  background: var(--surface-surface-default) url("/img/form/caret-down-accent-secondary.png") no-repeat 12px center;
  background-clip: padding-box;
  border-radius: 0;
  border: 0 none;
  box-shadow: 0 2px 0 0 var(--accent-accent-secondary), 0 -2px 0 0 var(--accent-accent-secondary), 2px 0 0 0 var(--accent-accent-secondary), -2px 0 0 0 var(--accent-accent-secondary);
  color: var(--text-text-body);
  font-size: 16px;
  height: var(--from-input-height-content);
  margin: 2px;
  padding: 0 var(--spacing-spacing-lg) 0 32px;
  -webkit-appearance: none;
}

select:disabled {
  background: var(--surface-surface-default) url("/img/form/caret-down-accent-disabled.png") no-repeat 10px center;
  background-clip: padding-box;
  box-shadow: 0 2px 0 0 var(--accent-accent-disabled), 0 -2px 0 0 var(--accent-accent-disabled), 2px 0 0 0 var(--accent-accent-disabled), -2px 0 0 0 var(--accent-accent-disabled);
  color: var(--accent-accent-disabled);
}
/* ---- Select End ---- */

/* ---- Input Text Start ---- */

.sui-block-label {
  display: block;
  width: 100%;
}

.sui-block-label:focus-within {
  color: var(--accent-accent-primary-active);
}

.sui-block-label-text {
  display: block;
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 8px;
  line-height: 16px;
  text-transform: uppercase;
}

.sui-input-text-group {
  display: block;
  text-align: left;
}

.sui-input-text {
  background: transparent;
  border: 0 none;
  border-bottom: 2px solid var(--accent-accent-secondary);
  box-sizing: border-box;
  color: var(--text-text-body);
  display: inline-block;
  flex: auto;
  font-family: 'DirectiveZero', sans-serif;
  font-size: 16px;
  height: var(--form-input-height-total);
  width: 100%;
}
.sui-input-text:disabled {
  border-bottom: 2px solid var(--accent-accent-disabled);
}
.sui-input-text:focus {
  border-image: url("/img/form/border-image-input-text-active.png") 0 0 2 24 / 0 0 2px 24px;
  padding-left: 24px;
}
.sui-input-text::placeholder {
  color: var(--text-text-hint);
}
.sui-input-text:disabled::placeholder {
  color: var(--accent-accent-disabled);
}

.sui-input-warning-container {
  display: none;
  margin-top: var(--spacing-spacing-md);
}

.sui-input-warning-container.show {
  display: block;
}

/* ---- Input Text End ---- */
