/** ---- Structs UI (SUI) ---- **/

@font-face {
  font-family: DirectiveZero;
  src: url(../fonts/DirectiveZeroWid.ttf);
}
@font-face {
  font-family: ExtremeHazard;
  src: url(../fonts/ExtremeHazard.ttf);
}

/* ---- Variables Start ---- */

:root {

  /* -- Colors Start -- */

  --accent-primary: #43CDB6;
  --accent-primary-active: #C2EFDD;
  --accent-secondary: #94A4E4;
  --accent-secondary-active: #BBCAEF;
  --accent-destructive: #EE7D69;
  --accent-destructive-active: #F4A990;
  --accent-disabled: #7394A5;
  --border: #5D7E90;
  --border-enemy: #440D3A;
  --border-enemy-dark: #222034;
  --border-neutral-dark: #000000;
  --border-player: #133546;
  --border-player-dark: #2E1F3E;
  --border-subtle: #394958;
  --icon-dark: #394958;
  --page-background: #1A2029;
  --surface-enemy-body: #2E1F3E;
  --surface-enemy-highlight: #5D0C15;
  --surface-enemy-inverted: #E64D40;
  --surface-neutral-body: #1E1C2E;
  --surface-player-highlight: #1C5F6A;
  --surface-player-inverted: #43CDB6;
  --surface-player-body: #133546;
  --surface-default: #222034;
  --surface-panel: #5D7E90;
  --surface-panel-medium: #4C6475;
  --text-enemy-primary: #EE7D69;
  --text-enemy-highlight: #F4A990;
  --text-enemy-inverted: #2E1F3E;
  --text-neutral-primary: #EBAA49;
  --text-player-primary: #43CDB6;
  --text-player-highlight: #86DFC6;
  --text-player-inverted: #133546;
  --text-body: #C5D7D9;
  --text-hint: #A7C0C6;
  --text-warning: #F3C878;

  /* -- Colors End -- */

  /* -- Dimensions Start -- */

  --form-input-height-total: 40px;
  --from-input-height-content: 36px;
  --icon-xs: 8px;
  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 32px;

  /* -- Dimensions End -- */

  /* -- Spacing Start -- */

  --spacing-xs: 2px;
  --spacing-s: 4px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-xxxl: 32px;

  /* -- Spacing End -- */
}

/* ---- Variables End ----*/

/* ---- General Styling Start ---- */

a,
a:link,
a:visited {
  color: var(--text-body);
  font-family: 'DirectiveZero', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
}



body {
  background: url("/img/page/page-background.png") repeat var(--page-background);
  text-align: center;
  font-family: 'DirectiveZero', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-body);
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

input:focus {
  outline: none;
}

/* ---- General Styling End ---- */

/* ---- Text Start --- */

h1 {
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

h2 {
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.sui-text-tiny {
  font-family: 'DirectiveZero', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.sui-text-ticker {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.sui-accent-pri,
a.sui-accent-pri,
a.sui-accent-pri:link,
a.sui-accent-pri:visited {
  color: var(--accent-primary);
}

.sui-accent-pri-active,
a.sui-accent-pri-active:hover,
a.sui-accent-pri-active:active {
  color: var(--accent-primary-active);
}

.sui-accent-sec,
a.sui-accent-sec,
a.sui-accent-sec:link,
a.sui-accent-sec:visited {
  color: var(--accent-secondary);
}

.sui-accent-sec-active,
a.sui-accent-sec-active:hover,
a.sui-accent-sec-active:active {
  color: var(--accent-secondary-active);
}

.sui-accent-des,
a.sui-accent-des,
a.sui-accent-des:link,
a.sui-accent-des:visited {
  color: var(--accent-destructive);
}

.sui-accent-des-active,
a.sui-accent-des-active:hover,
a.sui-accent-des-active:active {
  color: var(--accent-destructive-active);
}

.sui-accent-disabled {
  color: var(--accent-disabled);
}

.sui-text-warning {
  color: var(--text-warning);
}

.sui-text-hint {
  color: var(--text-hint);
}

/* ---- Text End ---- */

/* ---- Icons Start ---- */

.sui-icon-xs {
  font-size: var(--icon-xs);
  height: var(--icon-xs);
  width: var(--icon-xs);
}

.sui-icon-sm {
  font-size: var(--icon-sm);
  height: var(--icon-sm);
  width: var(--icon-sm);
}

.sui-icon-md {
  font-size: var(--icon-md);
  height: var(--icon-md);
  width: var(--icon-md);
}

.sui-icon-lg {
  font-size: var(--icon-lg);
  height: var(--icon-lg);
  width: var(--icon-lg);
}

i.sui-icon {
  background-position: center;
  background-size: cover;
  display: inline-block;
}

i.sui-icon-alpha-matter {
  background-image: url("/img/icon/icon-alpha-matter.png");
  height: var(--icon-md);
  width: var(--icon-md);
}

i.sui-icon-alpha-ore {
  background-image: url("/img/icon/icon-alpha-ore.png");
  height: var(--icon-md);
  width: var(--icon-md);
}

i.sui-icon-deployed-structs {
  background-image: url("/img/icon/icon-deployed-structs.png");
  height: var(--icon-md);
  width: var(--icon-md);
}

i.sui-icon-enemy-shield-health {
  background-image: url("/img/icon/icon-enemy-shield-health.png");
  height: var(--icon-md);
  width: var(--icon-md);
}

i.sui-icon-energy {
  background-image: url("/img/icon/icon-energy.png");
  height: var(--icon-md);
  width: var(--icon-md);
}

i.sui-icon-inert-alpha {
  background-image: url("/img/icon/icon-inert-alpha.png");
  height: var(--icon-md);
  width: var(--icon-md);
}

i.sui-icon-players {
  background-image: url("/img/icon/icon-players.png");
  height: var(--icon-md);
  width: var(--icon-md);
}

i.sui-icon-shield-health {
  background-image: url("/img/icon/icon-shield-health.png");
  height: var(--icon-md);
  width: var(--icon-md);
}

i.sui-icon-undiscovered-ore {
  background-image: url("/img/icon/icon-undiscovered-ore.png");
  height: var(--icon-md);
  width: var(--icon-md);
}

/* ---- Icons End ---- */

/* ---- Panel Button Start ---- */

.sui-panel-btn,
a.sui-panel-btn,
a.sui-panel-btn:link,
a.sui-panel-btn:visited {
  align-items: flex-start;
  border: 0 none;
  box-sizing: border-box;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  padding: var(--spacing-lg) 10px var(--spacing-md);
  text-decoration: none;
  width: 44px;
}

.sui-panel-btn.sui-panel-btn-default,
a.sui-panel-btn.sui-panel-btn-default {
  background: url("/img/panel/panel-btn-default.png") no-repeat;
  color: var(--icon-dark);
  padding-top: var(--spacing-md);
}

.sui-panel-btn.sui-panel-btn-default:active,
a.sui-panel-btn.sui-panel-btn-default:active {
  background: url("/img/panel/panel-btn-pressed.png") bottom no-repeat;
  padding-top: var(--spacing-lg);
}

.sui-panel-btn.sui-panel-btn-pressed,
a.sui-panel-btn.sui-panel-btn-pressed {
  background: url("/img/panel/panel-btn-pressed.png") bottom no-repeat;
  color: var(--icon-dark);
}

.sui-panel-btn.sui-panel-btn-active-defense,
a.sui-panel-btn.sui-panel-btn-active-defense {
  background: url("/img/panel/panel-btn-active-defense.png") bottom no-repeat;
  color: var(--text-player-highlight);
}

.sui-panel-btn.sui-panel-btn-active-offense,
a.sui-panel-btn.sui-panel-btn-active-offense {
  background: url("/img/panel/panel-btn-active-offense.png") bottom no-repeat;
  color: var(--text-warning);
}

.sui-panel-btn.sui-panel-btn-disabled,
a.sui-panel-btn.sui-panel-btn-disabled {
  background: url("/img/panel/panel-btn-disabled.png") bottom no-repeat;
  color: var(--accent-disabled);
}

.sui-panel-btn.sui-panel-btn-disabled-active,
a.sui-panel-btn.sui-panel-btn-disabled-active {
  background: url("/img/panel/panel-btn-disabled.png") bottom no-repeat;
  color: var(--accent-destructive);
}

/* ---- Panel Button End ---- */

/* ---- Screen Button Start ---- */

button.sui-screen-btn,
a.sui-screen-btn,
a.sui-screen-btn:link,
a.sui-screen-btn:visited {
  display: inline-flex;
  align-items: center;
  background: var(--surface-default);
  background-clip: padding-box;
  border: 0 none;
  border-radius: 0;
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 8px;
  gap: var(--spacing-md, 8px);
  height: var(--from-input-height-content);
  justify-content: center;
  line-height: 16px;
  margin: 2px;
  padding: 0 var(--spacing-lg);
  text-decoration: none;
  text-transform: uppercase;
}

.sui-screen-btn.sui-accent-pri {
  box-shadow: 0 2px 0 0 var(--accent-primary), 0 -2px 0 0 var(--accent-primary), 2px 0 0 0 var(--accent-primary), -2px 0 0 0 var(--accent-primary);
}

.sui-screen-btn:hover.sui-accent-pri {
  color: var(--accent-primary-active);
  box-shadow: 0 2px 0 0 var(--accent-primary-active), 0 -2px 0 0 var(--accent-primary-active), 2px 0 0 0 var(--accent-primary-active), -2px 0 0 0 var(--accent-primary-active);
}

.sui-screen-btn.sui-accent-sec {
  box-shadow: 0 2px 0 0 var(--accent-secondary), 0 -2px 0 0 var(--accent-secondary), 2px 0 0 0 var(--accent-secondary), -2px 0 0 0 var(--accent-secondary);
}

.sui-screen-btn:hover.sui-accent-sec {
  color: var(--accent-secondary-active);
  box-shadow: 0 2px 0 0 var(--accent-secondary-active), 0 -2px 0 0 var(--accent-secondary-active), 2px 0 0 0 var(--accent-secondary-active), -2px 0 0 0 var(--accent-secondary-active);
}

.sui-screen-btn.sui-accent-des {
  box-shadow: 0 2px 0 0 var(--accent-destructive), 0 -2px 0 0 var(--accent-destructive), 2px 0 0 0 var(--accent-destructive), -2px 0 0 0 var(--accent-destructive);
}

.sui-screen-btn:hover.sui-accent-des {
  color: var(--accent-destructive-active);
  box-shadow: 0 2px 0 0 var(--accent-destructive-active), 0 -2px 0 0 var(--accent-destructive-active), 2px 0 0 0 var(--accent-destructive-active), -2px 0 0 0 var(--accent-destructive-active);
}

.sui-screen-btn.sui-accent-disabled {
  box-shadow: 0 2px 0 0 var(--accent-disabled), 0 -2px 0 0 var(--accent-disabled), 2px 0 0 0 var(--accent-disabled), -2px 0 0 0 var(--accent-disabled);
}

.sui-screen-btn-flex-wrapper {
  display: flex;
  column-gap: var(--spacing-md);
  justify-items: center;
}

.sui-screen-btn-flex-wrapper > .sui-screen-btn {
  flex: 1;
}

.sui-screen-btn-flex-wrapper .sui-screen-btn i {
  flex-grow: 0;
}
.sui-screen-btn-flex-wrapper .sui-screen-btn span {
  flex-grow: 1;
}

.sui-screen-btn .sui-screen-btn-fixed-width {

}

.sui-nav-btn,
a.sui-nav-btn,
a.sui-nav-btn:link,
a.sui-nav-btn:hover,
a.sui-nav-btn:active,
a.sui-nav-btn:visited {
  align-items: center;
  display: inline-flex;
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 200% */
  text-transform: uppercase;
}

.sui-nav-btn .icon-chevron-left,
.sui-nav-btn .icon-chevron-right {
  padding: var(--spacing-md);
}

/* ---- Screen Button End ---- */

/* ---- Panel Start ---- */

.sui-panel-wrapper-fit-content {
  display: inline-block;
}
.sui-panel {
  display: flex;
  align-items: stretch;
  max-height: 100%;
}

.sui-panel-edge-left {
  background-clip: padding-box;
  border-style: solid;
  border-width: 0 0 0 6px;
  border-color: transparent;
  box-sizing: border-box;
  width: 0;
}

.sui-panel-edge-right {
  background-clip: padding-box;
  border-style: solid;
  border-width: 0 6px 0 0;
  border-color: transparent;
  box-sizing: border-box;
  width: 0;
}

.sui-panel-chunk {
  align-items: flex-start;
  background-clip: padding-box;
  border-style: solid;
  border-width: 4px 0 8px 0;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

.sui-panel-chunk.sui-panel-chunk-grow {
  flex-grow: 1;
}

.sui-panel-connector {
  background-clip: padding-box;
  border-style: solid;
  border-width: 4px 2px 8px 4px;
  border-color: transparent;
  box-sizing: border-box;
  width: 2px;
}

.sui-theme-player .sui-panel-edge-left,
div.sui-panel-edge-left.sui-theme-player {
  border-image: url("/img/panel/panel-edge-left-default.png") 6 0 12 6 / 6px 0 12px 6px;
}

.sui-theme-player .sui-panel-edge-right,
div.sui-panel-edge-right.sui-theme-player {
  border-image: url("/img/panel/panel-edge-right-default.png") 6 6 12 0 / 6px 6px 12px 0;
}

.sui-theme-player .sui-panel-chunk,
div.sui-panel-chunk.sui-theme-player {
  background: var(--surface-panel);
  border-image: url("/img/panel/panel-edge-top-bottom-default.png") 6 0 8 0 / 6px 0 8px 0;
}

.sui-theme-player .sui-panel-connector,
div.sui-panel-connector.sui-theme-player {
  border-image: url("/img/panel/panel-connector-default.png") 6 0 8 0 fill / 6px 0 8px 0;
}

.sui-theme-enemy .sui-panel-edge-left,
div.sui-panel-edge-left.sui-theme-enemy {
  border-image: url("/img/panel/panel-edge-left-medium.png") 6 0 12 6 / 6px 0 12px 6px;
}

.sui-theme-enemy .sui-panel-edge-right,
div.sui-panel-edge-right.sui-theme-enemy {
  border-image: url("/img/panel/panel-edge-right-medium.png") 6 6 12 0 / 6px 6px 12px 0;
}

.sui-theme-enemy .sui-panel-chunk,
div.sui-panel-chunk.sui-theme-enemy {
  background: var(--surface-panel-medium);
  border-image: url("/img/panel/panel-edge-top-bottom-medium.png") 6 0 8 0 / 6px 0 8px 0;
}

.sui-theme-enemy .sui-panel-connector,
div.sui-panel-connector.sui-theme-enemy {
  border-image: url("/img/panel/panel-connector-medium.png") 6 0 8 0 fill / 6px 0 8px 0;
}

.sui-panel-connector.sui-panel-style-medium-to-default {
  border-image: url("/img/panel/panel-connector-medium-default.png") 6 0 8 0 fill / 6px 0 8px 0;
}

.sui-panel-connector.sui-panel-style-default-to-medium {
  border-image: url("/img/panel/panel-connector-default-medium.png") 6 0 8 0 fill / 6px 0 8px 0;
}

/* ---- Panel End ---- */

/* ---- Screens Start ---- */

.sui-screen {
  background-clip: padding-box;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  box-sizing: border-box;
  display: inline-block;
}

.sui-screen.sui-screen-shrink {
  min-height: 0;
  min-width: 0;
}

.sui-screen.sui-screen-full-width {
  display: block;
  width: 100%;
}

.sui-theme-player .sui-screen,
.sui-screen.sui-theme-player {
  border-image: url("/img/screen/screen-frame-default.png") 4 / 4px;
}

.sui-theme-neutral .sui-screen,
.sui-screen.sui-theme-neutral,
.sui-theme-enemy .sui-screen,
.sui-screen.sui-theme-enemy {
  border-image: url("/img/screen/screen-frame-medium.png") 4 / 4px;
}

.sui-screen-nav {
  align-items: flex-start;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-md);
}

.sui-theme-player .sui-screen-nav {
  border: 2px solid var(--border-player);
  background: var(--surface-player-highlight);
}

.sui-screen-nav-items {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.sui-screen-nav-item,
a.sui-screen-nav-item,
a.sui-screen-nav-item:link,
a.sui-screen-nav-item:visited {
  align-items: center;
  border-radius: 0;
  display: flex;
  font-family: ExtremeHazard, sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  gap: var(--spacing-s);
  justify-content: center;
  line-height: 16px;
  padding: 6px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.sui-screen-nav-item-active {
  border-bottom: 2px solid var(--accent-primary-active);
}

.sui-screen-nav-close {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 0;
  padding: var(--spacing-s) var(--spacing-md);
  text-decoration: none;
}

.sui-theme-player .sui-screen-nav-item,
.sui-theme-player a.sui-screen-nav-item,
.sui-theme-player a.sui-screen-nav-item:link,
.sui-theme-player a.sui-screen-nav-item:visited,
.sui-theme-player a.sui-screen-nav-close,
.sui-theme-player a.sui-screen-nav-close:link,
.sui-theme-player a.sui-screen-nav-close:visited {
  color: var(--accent-primary);
}

.sui-theme-player .sui-screen-nav-item.sui-screen-nav-item-active,
.sui-theme-player a.sui-screen-nav-item.sui-screen-nav-item-active,
.sui-theme-player a.sui-screen-nav-item.sui-screen-nav-item-active:link,
.sui-theme-player a.sui-screen-nav-item.sui-screen-nav-item-active:visited,
.sui-theme-player a.sui-screen-nav-item:hover,
.sui-theme-player a.sui-screen-nav-item:active,
.sui-theme-player a.sui-screen-nav-close:hover,
.sui-theme-player a.sui-screen-nav-close:active {
  color: var(--accent-primary-active);
}

.sui-screen-properties {
  align-items: center;
  display: flex;
  gap: var(--spacing-xl);
  justify-content: center;
  min-width: 72px;
  padding: 6px;
}

.sui-theme-player .sui-screen-properties {
  border: 2px solid var(--border-player-dark);
  background-color: var(--surface-player-body);
  color: var(--text-player-primary);
}

.sui-theme-player .sui-screen-properties a,
.sui-theme-player .sui-screen-properties a:link,
.sui-theme-player .sui-screen-properties a:visited {
  color: var(--text-player-primary);
  text-decoration: none;
}

.sui-theme-player .sui-screen-properties a:hover,
.sui-theme-player .sui-screen-properties a:active {
  color: var(--text-player-highlight);
}

.sui-theme-enemy .sui-screen-properties {
  border: 2px solid var(--border-enemy-dark);
  background-color: var(--surface-enemy-body);
  color: var(--text-enemy-primary);
}

.sui-theme-enemy .sui-screen-properties a,
.sui-theme-enemy .sui-screen-properties a:link,
.sui-theme-enemy .sui-screen-properties a:visited {
  color: var(--text-enemy-primary);
  text-decoration: none;
}

.sui-theme-enemy .sui-screen-properties a:hover,
.sui-theme-enemy .sui-screen-properties a:active {
  color: var(--text-enemy-highlight);
}

.sui-screen-info {
  border-radius: 0;
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  padding: 0 var(--spacing-s);
}

.sui-theme-player .sui-screen-info,
.sui-theme-player.sui-screen-info {
  border: 2px solid var(--border-player);
  background-color: var(--surface-player-highlight);
  color: var(--text-player-highlight);
}

.sui-theme-player .sui-screen-info.sui-theme-inverted,
.sui-theme-player.sui-screen-info.sui-theme-inverted {
  border: 2px solid var(--border-player);
  background-color: var(--surface-player-inverted);
  color: var(--text-player-inverted);
}

.sui-theme-enemy .sui-screen-info,
.sui-theme-enemy.sui-screen-info {
  border: 2px solid var(--border-enemy);
  background-color: var(--surface-enemy-highlight);
  color: var(--text-enemy-highlight);
}

.sui-theme-enemy .sui-screen-info.sui-theme-inverted,
.sui-theme-enemy.sui-screen-info.sui-theme-inverted {
  border: 2px solid var(--border-enemy);
  background-color: var(--surface-enemy-inverted);
  color: var(--text-enemy-inverted);
}

.sui-screen-dialogue {
  border-radius: 0;
  padding: var(--spacing-md);
  text-align: left;
}

.sui-screen-dialogue strong {
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.sui-theme-player .sui-screen-dialogue,
.sui-theme-player.sui-screen-dialogue {
  border: 2px solid var(--border-player-dark);
  background-color: var(--surface-player-body);
}

.sui-theme-player .sui-screen-dialogue strong,
.sui-theme-player.sui-screen-dialogue strong {
  color: var(--text-player-primary);
}

.sui-theme-enemy .sui-screen-dialogue,
.sui-theme-enemy.sui-screen-dialogue {
  border: 2px solid var(--border-enemy-dark);
  background-color: var(--surface-enemy-body);
}

.sui-theme-enemy .sui-screen-dialogue strong,
.sui-theme-enemy.sui-screen-dialogue strong {
  color: var(--text-enemy-primary);
}


.sui-screen-dialogue.sui-theme-neutral {
  border: 2px solid var(--border-neutral-dark);
  background-color: var(--surface-neutral-body);
}

.sui-screen-dialogue.sui-theme-neutral strong {
  color: var(--text-neutral-primary);
}

.sui-screen-portrait,
a.sui-screen-portrait,
a.sui-screen-portrait:link,
a.sui-screen-portrait:visited {
  align-items: center;
  border-radius: 0;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
  position: relative;
}

.sui-screen-portrait i {
  display: none;
}

.sui-screen-portrait:hover .sui-screen-portrait-image {
  display: none;
}

a.sui-screen-portrait:hover {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  outline: 2px solid rgba(0, 0, 0, 0.20);
  outline-offset: -2px;
  padding: var(--spacing-md);
}
.sui-theme-player a.sui-screen-portrait:hover {
  background-color: var(--surface-player-body);
}
.sui-theme-enemy a.sui-screen-portrait:hover {
  background-color: var(--surface-enemy-body);
}

.sui-theme-player .sui-screen-portrait:hover i.icon-menu {
  color: var(--accent-primary);
  display: inline-block;
}

.sui-theme-enemy .sui-screen-portrait:hover i.icon-info {
  color: var(--accent-destructive);
  display: inline-block;
}

.sui-screen-indicator {
  background-color: var(--surface-neutral-body);
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 0;
}

.sui-screen-indicator::before {
  content: "";
  height: 100%;
  width: 100%;
  outline: 2px solid rgba(0, 0, 0, 0.20);
  outline-offset: -2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.sui-screen-portrait-image {
  background-image: url("/img/mock/mock-droid-360.png");
  background-position: -16px -4px;
  height: 100%;
  width: 100%;
  outline: 2px solid rgba(0, 0, 0, 0.20);
  outline-offset: -2px;
}

.sui-screen-battery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  width: 36px
}

.sui-theme-player .sui-screen-battery,
.sui-theme-player.sui-screen-battery {
  border-radius: 0;
  border: 2px solid var(--border-player-dark);
  background: var(--surface-player-body);
}

.sui-theme-enemy .sui-screen-battery,
.sui-theme-enemy.sui-screen-battery {
  border-radius: 0;
  border: 2px solid var(--border-enemy-dark);
  background: var(--surface-enemy-body);
}

.sui-screen-battery-chunk {
  display: inline-block;
  background-image: url("/img/battery/battery-chunk-empty.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4px 16px;
  height: 16px;
  width: 4px;
}

.sui-theme-player .sui-screen-battery .sui-screen-battery-chunk.sui-screen-battery-chunk-filled,
.sui-theme-player.sui-screen-battery .sui-screen-battery-chunk.sui-screen-battery-chunk-filled {
  background-image: url("/img/battery/battery-chunk-player.png");
}

.sui-theme-enemy .sui-screen-battery .sui-screen-battery-chunk.sui-screen-battery-chunk-filled,
.sui-theme-enemy.sui-screen-battery .sui-screen-battery-chunk.sui-screen-battery-chunk-filled {
  background-image: url("/img/battery/battery-chunk-enemy.png");
}

/* ---- Screens End ---- */

/* ---- Action Bar Start---- */

.sui-action-bar-bottom-row {
  align-items: flex-start;
  display: flex;
  gap: 0;
  padding: 0;
}

.sui-action-bar-btn-group {
  align-items: flex-start;
  display: flex;
  gap: var(--spacing-xs);
  height: 48px;
}

.sui-theme-player .sui-action-bar-btn-group {
  background: url("/img/panel/panel-btn-group-sliver-default.png") left no-repeat;
  padding-left: 7px;
}

.sui-theme-enemy .sui-action-bar-btn-group {
  background: url("/img/panel/panel-btn-group-sliver-medium.png") left no-repeat;
  padding-left: 7px;
}

/* ---- Action Bar End ---- */

/* ---- Dialogue Panel Start ---- */

.sui-panel-chunk-spacer-indicator {
  background: url("/img/panel/panel-chunk-spacer-indicator.png") top no-repeat;
  flex-grow: 1;
  width: 48px;
}

.sui-dialogue-btn-chunk {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  gap: var(--spacing-xs);
  justify-content: center;
}

.sui-dialogue-btn-chunk-col {
  align-items: flex-end;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: flex-end;
}

.sui-panel-chunk-spacer-btn-a {
  background: url("/img/panel/panel-chunk-spacer-btn-a.png") bottom 11px center no-repeat;
  flex: 1 0 0;
  width: 44px;
}

.sui-panel-chunk-spacer-btn-b {
  background: url("/img/panel/panel-chunk-spacer-btn-b.png") bottom 11px center no-repeat;
  flex: 1 0 0;
  width: 44px;
}

/* ---- Dialogue Panel End ---- */

/* ---- Page Header Start ---- */

.sui-page-header {
  align-items: center;
  border-bottom: 1px solid var(--border-subtle);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--spacing-xl) 0 var(--spacing-xs);
  width: 100%;
}

.sui-page-header-resources {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: var(--spacing-xl);
  justify-content: flex-end;
}

/* ---- Page Header End ---- */

/* ---- Resource Start ---- */

.sui-resource,
a.sui-resource,
a.sui-resource:link,
a.sui-resource:hover,
a.sui-resource:active,
a.sui-resource:visited {
  align-items: center;
  display: inline-flex;
  gap: var(--spacing-s);
  justify-items: center;
  text-decoration: none;
}

/* ---- Resource End ---- */

/* ---- Result Rows Start ---- */

.sui-result-rows {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.sui-result-table.sui-result-rows {
  gap: 0;
}

.sui-result-row {
  align-content: center;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg) var(--spacing-xxxl);
  padding: var(--spacing-md);
}

.sui-result-table.sui-result-rows:first-child {
  border-top: 1px solid var(--border);
}
.sui-result-table.sui-result-rows .sui-result-row {
  border-top: 0 none;
}

.sui-result-row-left-section {
  align-items: center;
  display: flex;
  flex: 1 0 0;
  gap: 16px;
  min-width: 256px;
  padding-right: var(--spacing-xl);
}

.sui-result-row-right-section {
  align-items: center;
  display: flex;
  flex: 1 0 0;
  justify-content: space-between;
  min-width: 224px;
  padding: 0;
}

.sui-result-row-player-info {
  align-items: flex-start;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: var(--spacing-md);
  justify-content: center;
  padding-right: var(--spacing-xl);
  text-align: left;
}

.sui-result-row-portrait {
  align-items: flex-start;
  border-radius: 0;
  display: flex;
  height: 44px;
  justify-content: center;
  padding: 0;
  width: 44px;
}

.sui-result-row-portrait-image {
  background: url("/img/mock/mock-droid-360.png") top;
  border: 1px solid var(--border-subtle);
  box-sizing: border-box;
  height: 44px;
  width: 44px;
}

.sui-result-row-portrait-icon {
  align-items: center;
  color: var(--accent-secondary);
  display: flex;
  height: 44px;
  justify-content: center;
  width: 44px;
}

.sui-result-row-resources {
  align-items: center;
  display: flex;
  gap: var(--spacing-xl);
  justify-content: flex-end;
}

/* ---- Result Rows End ---- */

/* ---- Badge Start ---- */

.sui-badge {
  align-items: center;
  display: inline-flex;
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  line-height: 16px;
  padding: 0 var(--spacing-md);
  text-transform: uppercase;
}

.sui-badge-default {
  border: 1px solid var(--accent-primary);
  color: var(--text-player-primary);
}

.sui-badge-warning {
  border: 1px solid var(--text-warning);
  color: var(--text-warning);
}

.sui-badge-solid {
  background-color: var(--accent-primary);
  border: 1px solid var(--accent-primary);
  color: var(--text-player-inverted);
}

/* ---- Badge End ---- */

/* ---- Checkbox, Radio Start ---- */

.sui-checkbox-container,
.sui-radio-container {
  position: relative;
  display: inline-block;
  height: var(--form-input-height-total);
  vertical-align: middle;
}

.sui-checkbox,
.sui-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--form-input-height-total);
  width: var(--form-input-height-total);
  z-index: 1;
  opacity: 0;
}

.sui-checkbox-display,
.sui-radio-display {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: var(--form-input-height-total);
  width: var(--form-input-height-total);
  z-index: 0;
}

.sui-checkbox-container::after,
.sui-radio-container::after {
  content: "";
  display: inline-block;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}

.sui-checkbox-container .sui-checkbox-display {
  background-image: url("/img/form/checkbox_false.png");
}
.sui-radio-container .sui-radio-display {
  background-image: url("/img/form/radio_false.png");
}

.sui-checkbox:checked ~ .sui-checkbox-display {
  background-image: url("/img/form/checkbox_true.png");
}
.sui-radio:checked ~ .sui-radio-display {
  background-image: url("/img/form/radio_true.png");
}

.sui-checkbox:disabled ~ .sui-checkbox-display{
  background-image: url("/img/form/checkbox_disabled_false.png");
}
.sui-radio:disabled ~ .sui-radio-display{
  background-image: url("/img/form/radio_disabled_false.png");
}

.sui-checkbox:disabled:checked ~ .sui-checkbox-display{
  background-image: url("/img/form/checkbox_disabled_true.png");
}
.sui-radio:disabled:checked ~ .sui-radio-display{
  background-image: url("/img/form/radio_disabled_true.png");
}

.sui-checkbox-container label,
.sui-radio-container label {
  display: inline-block;
  position: relative;
  margin-left: 48px;
  vertical-align: middle;
}

.sui-checkbox:disabled ~ label,
.sui-radio:disabled ~ label {
  color: var(--accent-disabled);
}

/* ---- Checkbox, Radio End ---- */


/* ---- Select Start ---- */

select {
  background: var(--surface-default) url("/img/form/caret-down-accent-secondary.png") no-repeat 10px center;
  background-clip: padding-box;
  border-radius: 0;
  border: 0 none;
  box-shadow: 0 2px 0 0 var(--accent-secondary), 0 -2px 0 0 var(--accent-secondary), 2px 0 0 0 var(--accent-secondary), -2px 0 0 0 var(--accent-secondary);
  color: var(--text-body);
  font-size: 16px;
  height: var(--from-input-height-content);
  margin: 2px;
  padding: 0 var(--spacing-lg) 0 32px;
  -webkit-appearance: none;
}

select:disabled {
  background: var(--surface-default) url("/img/form/caret-down-accent-disabled.png") no-repeat 10px center;
  background-clip: padding-box;
  box-shadow: 0 2px 0 0 var(--accent-disabled), 0 -2px 0 0 var(--accent-disabled), 2px 0 0 0 var(--accent-disabled), -2px 0 0 0 var(--accent-disabled);
  color: var(--accent-disabled);
}
/* ---- Select End ---- */

/* ---- Input Text Start ---- */

.sui-block-label {
  display: block;
  width: 100%;
}

.sui-block-label:focus-within {
  color: var(--accent-primary-active);
}

.sui-block-label-text {
  display: block;
  font-family: 'ExtremeHazard', sans-serif;
  font-size: 8px;
  line-height: 16px;
  text-transform: uppercase;
}

.sui-input-text-group {
  display: block;
  text-align: left;
}

.sui-input-text {
  background: transparent;
  border: 0 none;
  border-bottom: 2px solid var(--accent-secondary);
  box-sizing: border-box;
  color: var(--text-body);
  display: inline-block;
  flex: auto;
  font-family: 'DirectiveZero', sans-serif;
  font-size: 16px;
  height: var(--form-input-height-total);
  width: 100%;
}
.sui-input-text:disabled {
  border-bottom: 2px solid var(--accent-disabled);
}
.sui-input-text:focus {
  border-image: url("/img/form/border-image-input-text-active.png") 0 0 2 24 / 0 0 2px 24px;
  padding-left: 24px;
}
.sui-input-text::placeholder {
  color: var(--text-hint);
}
.sui-input-text:disabled::placeholder {
  color: var(--accent-disabled);
}

.sui-input-warning-container {
  display: none;
  margin-top: var(--spacing-md);
}

.sui-input-warning-container.show {
  display: block;
}

/* ---- Input Text End ---- */

/* ---- Page Layout Start ---- */

.sui-page-body-screen {
  background: var(--surface-player-body);
  border: 2px solid var(--border-player-dark);
  border-radius: 0;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: scroll;
}

.sui-page-body-screen-content {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 0;
  flex: 1 0 0;
  flex-direction: column;
  padding: 0;
}

.sui-screen-body {
  flex: 1 0 0;
  padding: var(--spacing-xl);
}

/* ---- Page Layout End ---- */

/* ---- Utility Classes Start ---- */

.sui-flip-horizontal {
  transform: scale(-1);
}

/* ---- Utility Classes End ---- */
